<{% extends 'geekshop/base.html' %}
{% load static %}


{% block content %}
		<div class="hero-white">
			{% include 'geekshop/includes/header.html' %}
		</div>
            {% include 'mainapp/includes/inc_menu.html' %}

		<div class="product_list">
            <div class="title clearfix">
                <h2>
                    Категория: "{{ category.name|title }}
                </h2>
            <div>

				{% for product in products %}
					<div class="block">
						<a href="#"><img src="/media/{{ product.image }}" alt="">
							<div class="text">
								<img src="static/geekshop/img/icon-hover.png" alt="img">
								<h4>{{ product.name }}</h4>
								<p>{{ product.short_desc }} </p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
            </div>

		<div class="clr"></div>

	</div>	



{% endblock %}